* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    --dark-blue: #00216d;
    --light-blue: #004cff;
    --dark-red: #7c0000;
    --light-red: #d41717;
    --light-gray: #a7a7a7;
    --mid-gray: #696969;
    --dark-gray: #3b3b3b;
    --black: #000;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 20rem 3fr;
    font-size: 1.6rem;
    max-width: 1200px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

/* nav bar things */
#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left:0;
    height: 10rem;
    box-shadow: 0 0 1.5rem 0rem var(--black);
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#navbar a {
    margin: 0 1rem;
    list-style: none;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 2.4rem;
    /* transition elements */
    box-shadow: inset 0 0 0 0 var(--dark-blue);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

a.nav-link:visited {
    color: var(--dark-blue);
}

/* transition elements */
a.nav-link:hover {
    color: #fff;
    box-shadow: inset 400px 0 0 0 var(--dark-blue);
}

/* nav bar stuff */
.nav-div {
    top: 0;
    left: 0;
    height: 100%;
    padding-right: 1.6rem;
    width: 50%;
}

#navbar-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    position: fixed;
    top: 12rem;
    left: 0;
    border-right: 3px solid var(--light-gray);
    /* background-color: white; */
    margin-top: -2rem;
}

.nav-header {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem;
    margin-top: 2rem;
}

a.nav-link-2 {
    text-decoration: none;
    margin: 0 1rem;
    color: black;
    width: 100%;
    font-size: 1.8rem;
}

a.nav-link-2:visited {
    color: black;
}

a.nav-link-2:hover {
    background-color: black;
    color: white;
}

/* main content */
#main-doc {
    padding-left: 10rem;
    padding-top: 2rem;
    margin-top: 12rem;
    width: 100%;
}

header.section-name {
    font-weight: 600;
    font-size: 2.5rem;
}

.text-chunk {
    margin: 1.6rem 0;
}

/* data type list */
.data-type-list {
    margin-left: 2rem;
}

.primitive-list {
    margin-left: 1.6rem;
}

.d_type {
    font-weight: 500;
}

/* code chunks */
.code-box {
    background-color: rgb(255, 193, 193);
    margin: 2rem 2rem ;
    padding: 1rem;
    width: max-content;
    text-align: left;
}

/* footer */
#footer {
    height: 5rem;
    text-align: center;
    border-top: 1px solid black;
    width: 100%;
    margin-top: 1rem;
}

/* media sizes */
 @media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

@media (max-width: 815px) {
   /*For mobile phones:*/
  #navbar {
    background-color: white;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    display:inline-flex;
  }

  #main-doc {
    position: relative;
    top:0;
    margin-left: 0px;
    margin-top: 1rem;
    padding-left: 0;
  }
}
